<?xml version="1.0"?>

<launch>
<node pkg="nodelet" type="nodelet" name="manager"  args="manager"/>
    <node pkg="nodelet" type="nodelet" name="pointcloud_merger_nodelet" args="load pointcloud_merger/pointcloud_merger_nodelet manager" output="screen">

        <remap from="cloud_out" to="cloud_out_merged"/>
        <remap from="cloud1" to="/velodyne_points1"/>
	<remap from="cloud2" to="/velodyne_points2"/>
        <rosparam>
            target_frame: base_link # Leave disabled to output scan in pointcloud frame

            # Concurrency level, affects number of pointclouds queued for processing, thread number governed by nodelet manager
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>

    </node>

</launch>
